// Favorite Color
$mov:#33207E;
$dark-mov:#0B0743;
$linear-pink: linear-gradient(229deg, #E74B90 2.1%, #E74B90 2.11%, #E28C6F 99.47%);
$linear-blue: linear-gradient(229deg, #0B0743 2.1%, #00B9E8 99.47%);
$pink:#E74B90;
$orange:#ED612D;
$white:#FFF;
$footer-bg:linear-gradient(57deg, #18143C 31.68%, #1A1747 43.78%, #1F1E66 65.54%, #272994 92.15%);
$gray:#C9C9C9;
$green:#BCD016;
$my-gradient:linear-gradient(125deg, rgba(13,27,132,1) 0%, rgba(133,47,161,1) 45%, rgba(131,49,163,1) 80%, rgba(32,109,182) 100%);
$box-shadow:rgba(87, 87, 87, 0.25);
$box-shadow-two:#D7DADD;
$table-border:rgba(144, 144, 144, 0.50);
$table-BG:rgba(11, 7, 67, 0.80);
$primary:#690BB4;
$lock-BG:rgba(84, 58, 187, 0.47);
$notification-color:#EFEFEF;
$notification-border:#212121;
$notification-close-btn:#FF7675;
$label-color:#EFEFEF;
$green-light:#34C759;
$black:#212121;